<a href="https://colab.research.google.com/github/sysphcd/PythonProgrammingforData/blob/main/Air_quality_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [21]:
from google.colab import files
import pandas as pd
import io
from datetime import datetime, time
#import os
  
def get_data(url):
  df = pd.read_csv(url,skiprows = 1)
  return df 
  # upload a set of chosen files then read a specified file
  #uploaded = files.upload()
  #df = pd.read_excel(uploaded['air_quality.xlsx'],sheet_name="NO2-measured-data-2020-2021")
  #df = pd.read_csv(uploaded['air_quality_data.csv'])
  #os.chdir("smb://ZGEMMAH2H._smb._tcp.local/Harddisk/SDS Code Division_Python/")
  #df = pd.read_excel("air_quality.xlsx")

  #uploaded = files.upload()
  #df = pd.read_csv(io.BytesIO(uploaded['air_quality.xlsx']))


def process_data(df):  
  #Convert dates to date format , drop rows Time with 24
  df['Date'] = pd.to_datetime(df['Date'])
  indexTimes = df[(df['Time'] == '24:00:00')  | (df['Time'] == '24:00') ].index
  df.drop(indexTimes , inplace=True) 
  df["Time"]= pd.to_datetime(df["Time"])
  df['Time'] = df['Time'].dt.time
  # Drop a row by condition : Delete these row indexes from dataFrame
  indexNames = df[df['Nitrogen dioxide'] == 'nodata'].index  
  df.drop(indexNames , inplace=True) 
  #Convert the Nitrogen dioxide levels values to float type
  df['Nitrogen dioxide']=  df['Nitrogen dioxide'].astype(float)
  #Sort by Nitrogen dioxide level
  df.sort_values(by=['Nitrogen dioxide'])
  #Create a new column for 'Weekdays'
  df['Weekdays'] = df['Date'].dt.weekday
  #Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)
  df.rename(columns = {'Nitrogen dioxide':'NO2 Level (V ug/m2)'}, inplace = True)
  #Remove the Status column
  df.drop("Status", axis=1, inplace=True)
  return df

#program starts here  
url1 = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/NO2-measured-data-2020-Rochester-Stoke.csv"
df1 = get_data(url1)
process_data(df1)

           Date      Time  NO2 Level (V ug/m2)  Weekdays
0    2020-01-01  01:00:00             35.65193         2
1    2020-01-01  02:00:00             37.99122         2
2    2020-01-01  03:00:00             35.70462         2
3    2020-01-01  04:00:00             36.57960         2
4    2020-01-01  05:00:00             32.94410         2
...         ...       ...                  ...       ...
8778 2020-12-31  19:00:00             12.34481         3
8779 2020-12-31  20:00:00             11.22419         3
8780 2020-12-31  21:00:00             11.17037         3
8781 2020-12-31  22:00:00              9.54137         3
8782 2020-12-31  23:00:00              8.21683         3

[8309 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name. 

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [27]:
def concat_data(df1,df2):
  concat_df = pd.concat([df1,df2])
  concat_df.groupby('Weekdays') #.size
  return concat_df

url2 = "https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ"
df2 = get_data(url2)
process_data(df2)
concat_data(df1,df2)

           Date      Time  NO2 Level (V ug/m2)  Weekdays
0    2020-01-01  01:00:00             35.65193         2
1    2020-01-01  02:00:00             37.99122         2
2    2020-01-01  03:00:00             35.70462         2
3    2020-01-01  04:00:00             36.57960         2
4    2020-01-01  05:00:00             32.94410         2
...         ...       ...                  ...       ...
8754 2021-12-31  19:00:00             15.64568         4
8755 2021-12-31  20:00:00             12.51492         4
8756 2021-12-31  21:00:00             14.00046         4
8757 2021-12-31  22:00:00             10.04780         4
8758 2021-12-31  23:00:00              3.49557         4

[16626 rows x 4 columns]

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition) 

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.