<a href="https://colab.research.google.com/github/sysphcd/PythonProgrammingforData/blob/main/Worksheets/1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [6]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  print('total tables number :', len(datatables))
  df = datatables[0]  
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
thedf = get_data()

# This code will run the function and test whether the current year is being returned 
actual = len(thedf)
expected = 39

if actual == expected:
  print("Test passed", " There are ", actual , " records in the first table.")
else:
  print("Test failed expected", expected, "got", actual)

total tables number : 24
Test passed  There are  39  records in the first table.

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [ ]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

Saving public_use-talent-migration.xlsx to public_use-talent-migration.xlsx

     country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0              ae  United Arab Emirates  ...            68.51            49.55
1              ae  United Arab Emirates  ...           149.57           182.22
2              ae  United Arab Emirates  ...           409.18           407.41
3              ae  United Arab Emirates  ...           236.69           188.07
4              ae  United Arab Emirates  ...           852.39           519.40
...           ...                   ...  ...              ...              ...
5290           zw              Zimbabwe  ...            70.60           -18.30
5291           zw              Zimbabwe  ...          -234.59          -304.36
5292           zw              Zimbabwe  ...           311.03           -55.88
5293           zw              Zimbabwe  ...          -108.16          -213.82
5294           zw              Zimbabwe  ...           -39.32           -92.51

[5295 rows x 13 columns]

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

     yyyy  mm tmax (degC)  ... rain (mm) sun (hours)       status
0    1959   1           4  ...      40.9        54.1          NaN
1    1959   2         6.6  ...      41.8        17.8          NaN
2    1959   3        10.6  ...      50.9        85.7          NaN
3    1959   4          13  ...      76.3       125.1          NaN
4    1959   5        18.1  ...        24         222          NaN
..    ...  ..         ...  ...       ...         ...          ...
741  2020  10       12.9*  ...    185.3*       76.8*  Provisional
742  2020  11       10.6*  ...    142.4*       29.3*  Provisional
743  2020  12        6.9*  ...    131.0*       31.6*  Provisional
744  2021   1        4.9*  ...    132.2*       51.0*  Provisional
745  2021   2        7.0*  ...    144.3*       58.8*  Provisional

[746 rows x 8 columns]

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

     country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0              ae  United Arab Emirates  ...            68.51            49.55
1              ae  United Arab Emirates  ...           149.57           182.22
2              ae  United Arab Emirates  ...           409.18           407.41
3              ae  United Arab Emirates  ...           236.69           188.07
4              ae  United Arab Emirates  ...           852.39           519.40
...           ...                   ...  ...              ...              ...
5290           zw              Zimbabwe  ...            70.60           -18.30
5291           zw              Zimbabwe  ...          -234.59          -304.36
5292           zw              Zimbabwe  ...           311.03           -55.88
5293           zw              Zimbabwe  ...          -108.16          -213.82
5294           zw              Zimbabwe  ...           -39.32           -92.51

[5295 rows x 13 columns]

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [ ]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
print(json_data)
print(data_table)
df = pd.json_normalize(data_table['regions'])
df

[{'from': '2022-01-25T12:30Z', 'to': '2022-01-25T13:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 18.3}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 81.7}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 18, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.1}, {'fuel': 'gas', 'perc': 2.9}, {'fuel': 'nuclear', 'perc': 15.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 9.6}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 68.6}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 146, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 11.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.3}, {'fuel': 'gas', 'perc': 33.2}, {'fuel': 'nuclear', 'perc': 43.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 7.2}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 109, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 21.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 30}, {'fuel': 'gas', 'perc': 20.6}, {'fuel': 'nuclear', 'perc': 24.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 2.2}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 269, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 43.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 54.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 1.9}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 336, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 11.4}, {'fuel': 'gas', 'perc': 69.3}, {'fuel': 'nuclear', 'perc': 1.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 10.4}, {'fuel': 'solar', 'perc': 1.1}, {'fuel': 'wind', 'perc': 5.6}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 386, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 97.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 379, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.3}, {'fuel': 'coal', 'perc': 9.7}, {'fuel': 'imports', 'perc': 5.3}, {'fuel': 'gas', 'perc': 68.2}, {'fuel': 'nuclear', 'perc': 7.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2}, {'fuel': 'solar', 'perc': 1.6}, {'fuel': 'wind', 'perc': 2.7}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 508, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.5}, {'fuel': 'coal', 'perc': 25}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 67.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 1}, {'fuel': 'wind', 'perc': 1.6}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 316, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 2.7}, {'fuel': 'imports', 'perc': 8.2}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 21.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 1.5}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 302, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 73.1}, {'fuel': 'nuclear', 'perc': 23.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.8}, {'fuel': 'wind', 'perc': 0.6}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 336, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 2.2}, {'fuel': 'imports', 'perc': 15}, {'fuel': 'gas', 'perc': 74.2}, {'fuel': 'nuclear', 'perc': 5.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 2.2}, {'fuel': 'wind', 'perc': 0.3}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 318, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.2}, {'fuel': 'coal', 'perc': 1.2}, {'fuel': 'imports', 'perc': 18.2}, {'fuel': 'gas', 'perc': 69.4}, {'fuel': 'nuclear', 'perc': 8.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 0.8}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 315, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 25.2}, {'fuel': 'gas', 'perc': 71.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.5}, {'fuel': 'solar', 'perc': 1}, {'fuel': 'wind', 'perc': 0.5}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 313, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.8}, {'fuel': 'coal', 'perc': 5.1}, {'fuel': 'imports', 'perc': 8.6}, {'fuel': 'gas', 'perc': 60.8}, {'fuel': 'nuclear', 'perc': 12.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 3.3}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 46, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 9.3}, {'fuel': 'nuclear', 'perc': 9.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.4}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 63.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 395, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.9}, {'fuel': 'gas', 'perc': 85}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.9}, {'fuel': 'solar', 'perc': 0.6}, {'fuel': 'wind', 'perc': 1.6}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 285, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.6}, {'fuel': 'coal', 'perc': 4.2}, {'fuel': 'imports', 'perc': 7.9}, {'fuel': 'gas', 'perc': 55.9}, {'fuel': 'nuclear', 'perc': 11.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.4}, {'fuel': 'solar', 'perc': 1.1}, {'fuel': 'wind', 'perc': 10.5}]}]}]
{'from': '2022-01-25T12:30Z', 'to': '2022-01-25T13:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 18.3}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 81.7}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 18, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 2.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.1}, {'fuel': 'gas', 'perc': 2.9}, {'fuel': 'nuclear', 'perc': 15.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 9.6}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 68.6}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 146, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 11.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.3}, {'fuel': 'gas', 'perc': 33.2}, {'fuel': 'nuclear', 'perc': 43.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 7.2}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 109, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 21.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 30}, {'fuel': 'gas', 'perc': 20.6}, {'fuel': 'nuclear', 'perc': 24.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 2.2}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 269, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 43.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 54.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 1.9}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 336, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 11.4}, {'fuel': 'gas', 'perc': 69.3}, {'fuel': 'nuclear', 'perc': 1.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 10.4}, {'fuel': 'solar', 'perc': 1.1}, {'fuel': 'wind', 'perc': 5.6}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 386, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 97.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 379, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.3}, {'fuel': 'coal', 'perc': 9.7}, {'fuel': 'imports', 'perc': 5.3}, {'fuel': 'gas', 'perc': 68.2}, {'fuel': 'nuclear', 'perc': 7.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2}, {'fuel': 'solar', 'perc': 1.6}, {'fuel': 'wind', 'perc': 2.7}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 508, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.5}, {'fuel': 'coal', 'perc': 25}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 67.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 1}, {'fuel': 'wind', 'perc': 1.6}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 316, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 2.7}, {'fuel': 'imports', 'perc': 8.2}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 21.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 1.5}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 302, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 73.1}, {'fuel': 'nuclear', 'perc': 23.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.8}, {'fuel': 'wind', 'perc': 0.6}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 336, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 2.2}, {'fuel': 'imports', 'perc': 15}, {'fuel': 'gas', 'perc': 74.2}, {'fuel': 'nuclear', 'perc': 5.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 2.2}, {'fuel': 'wind', 'perc': 0.3}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 318, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.2}, {'fuel': 'coal', 'perc': 1.2}, {'fuel': 'imports', 'perc': 18.2}, {'fuel': 'gas', 'perc': 69.4}, {'fuel': 'nuclear', 'perc': 8.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 0.8}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 315, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 25.2}, {'fuel': 'gas', 'perc': 71.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.5}, {'fuel': 'solar', 'perc': 1}, {'fuel': 'wind', 'perc': 0.5}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 313, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.8}, {'fuel': 'coal', 'perc': 5.1}, {'fuel': 'imports', 'perc': 8.6}, {'fuel': 'gas', 'perc': 60.8}, {'fuel': 'nuclear', 'perc': 12.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 3.3}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 46, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 9.3}, {'fuel': 'nuclear', 'perc': 9.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.4}, {'fuel': 'solar', 'perc': 0.2}, {'fuel': 'wind', 'perc': 63.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 395, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.9}, {'fuel': 'gas', 'perc': 85}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.9}, {'fuel': 'solar', 'perc': 0.6}, {'fuel': 'wind', 'perc': 1.6}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 285, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.6}, {'fuel': 'coal', 'perc': 4.2}, {'fuel': 'imports', 'perc': 7.9}, {'fuel': 'gas', 'perc': 55.9}, {'fuel': 'nuclear', 'perc': 11.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.4}, {'fuel': 'solar', 'perc': 1.1}, {'fuel': 'wind', 'perc': 10.5}]}]}

    regionid  ... intensity.index
0          1  ...        very low
1          2  ...        very low
2          3  ...        moderate
3          4  ...             low
4          5  ...            high
5          6  ...       very high
6          7  ...       very high
7          8  ...       very high
8          9  ...       very high
9         10  ...       very high
10        11  ...            high
11        12  ...       very high
12        13  ...       very high
13        14  ...       very high
14        15  ...       very high
15        16  ...             low
16        17  ...       very high
17        18  ...            high

[18 rows x 6 columns]

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [ ]:
import pandas as pd
from google.colab import files
import io

def get_data():
  uploaded = files.upload()
  #panda dataframe, read csv fild in device
  df = pd.read_csv(io.BytesIO(uploaded['data-selector-export.csv']))
  return df

get_data()

Saving data-selector-export.csv to data-selector-export (2).csv

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/01/2022  45.79300    P µg/m³
2   02/01/2022  66.29050    P µg/m³
3   03/01/2022  69.64993    P µg/m³
4   04/01/2022  36.78162    P µg/m³
5   05/01/2022  31.34080    P µg/m³
6   06/01/2022  32.89434    P µg/m³
7   07/01/2022  48.28687    P µg/m³
8   08/01/2022  54.58240    P µg/m³
9   09/01/2022  37.90998    P µg/m³
10  10/01/2022  13.92832    P µg/m³
11  11/01/2022  24.70510    P µg/m³
12  12/01/2022   7.05437    P µg/m³
13  13/01/2022   5.55325    P µg/m³
14  14/01/2022   4.64217    P µg/m³
15  15/01/2022   7.97448    P µg/m³
16  16/01/2022  16.16517    P µg/m³
17  17/01/2022   9.70409    P µg/m³
18  18/01/2022   8.12416    P µg/m³
19  19/01/2022  20.54664    P µg/m³
20  20/01/2022  29.85235    P µg/m³
21  21/01/2022  13.25477    P µg/m³
22  22/01/2022  25.71958    P µg/m³
23  23/01/2022  32.85421    P µg/m³
24  24/01/2022  38.84131    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv"
df =pd.read_csv(url)
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"
df = pd.read_excel(url)
df

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [ ]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional/england"
url2 = "https://api.carbonintensity.org.uk/regional/scotland"
url3 = "https://api.carbonintensity.org.uk/regional/wales"
json_data = requests.get(url3).json()['data']
data_table = json_data[0]
print(json_data)
print(data_table)
df = pd.json_normalize(data_table['data'])
df

[{'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'data': [{'from': '2022-01-25T13:30Z', 'to': '2022-01-25T14:00Z', 'intensity': {'forecast': 391, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.2}, {'fuel': 'gas', 'perc': 84.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.8}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 1.7}]}]}]
{'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'data': [{'from': '2022-01-25T13:30Z', 'to': '2022-01-25T14:00Z', 'intensity': {'forecast': 391, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.2}, {'fuel': 'gas', 'perc': 84.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.8}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 1.7}]}]}

                from                 to  ... intensity.forecast  intensity.index
0  2022-01-25T13:30Z  2022-01-25T14:00Z  ...                391        very high

[1 rows x 5 columns]

# Reflection 


---

## What skills have you demonstrated in completing this notebook?
Your answer:

-  Use Pandas .read_html() method to retrieve data from a website. 
- .read_excel() to read a sheet in an excel file
- .read_csv(url) to read a csv file hosted on Github.com

- Use files from google.colab to read get a local file and upload() to upload a set of chosen files then read a specified file. 

- Use requests.get(url).json()['data'] from requests to fetch data from an API which delivers data in JSON format. 

- Use pandas json_normalize(data_table['col']) to get the values in a column.

- Use io.BytesIO(uploaded['your filename']) to upload a file from local drive

## What caused you the most difficulty?
Your answer:

-  One of the most difficult parts is to upload file from local drive.  Use files.upload or io.BytesIO to get the file. 

-  another part is using requests.get(url).json()['data'] to get data i need. 

-  json_normalize() can be tricky.